<div class="formcontainer center">
    <h1>Admin page</h1>
    <div>
    <label><b>Average Feedback</b></label>
    <label id="avgFeedback" >{{data}}</label><br><br>

    <button id="transferEther" class="registerbtn">Transfer Ether</button>
    </div>
<script src="../devJs/admin.js"></script>