<form>
  <div class="formcontainer center">
    <h1>Give feedback to instructor</h1>
    <div class="inputformat">
    <label><b>communication</b></label>
    <input type="number" id="f1" required><br><br>

    <label><b>explanation</b></label>
    <input type="number" id="f2" required><br><br>

    <label><b>understanding</b></label>
    <input type="number" id="f3" required><br><br>
    </div>
    <button id="submitFeedback" class="registerbtn">Submit Feedback</button>
    </div>
</form>
<script src="../devJs/feedback.js"></script>