<div class="formcontainer center">
    <h1>Login</h1>
    <div class="inputformat">
    <label for="uname"><b>Username</b></label>
    <input type="text" id="email" name="uname" required><br><br>

    <label for="psw"><b>Password</b></label>
    <input type="password" id="password" name="psw" required><br><br>
    </div>
    <button id="login" class="registerbtn">Login</button>
</div>
<script src="../devJs/login.js"></script>