<div>
    <label for="uname"><b>Username</b></label>
    <input type="text" id="email" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" id="password" name="psw" required>

    <button id="login">Login</button>
</div>
<script src="../devJs/login.js"></script>